.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.navbar-brand img{
    width:190px;
    height: auto;
}

.bg-light{
    background-color: #FFFFFF !important;
}

.nav-item{
    font-size: 20px;
    font-family: 'Montserrat';
    padding-right: 30px;
}

.nav-item a{
    color: #FA94F4 !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FA36EF !important;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
    .nav-item{
        padding-right: 0px;
    }
}